[unix_http_server]
file=/tmp/supervisor.sock

[supervisord]
logfile=/tmp/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
pidfile=/tmp/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock

{% for gpu in range(num_gpus) %}
[program:jobmonitor{{gpu}}]
command=/home/{{user}}/.local/bin/jobrun -q any
user={{user}}
environment=CUDA_VISIBLE_DEVICES='{{gpu}}',DATA="{{data_dir}}",JOBMONITOR_RESULTS_DIR="{{data_dir}}/results",JOBMONITOR_TELEGRAF_HOST=localhost,JOBMONITOR_TELEGRAF_PORT=8092,JOBMONITOR_METADATA_HOST="{{ jobmonitor_metadata_host }}",JOBMONITOR_METADATA_PORT="{{ jobmonitor_metadata_port }}",JOBMONITOR_METADATA_DB="{{ jobmonitor_metadata_db }}",JOBMONITOR_TIMESERIES_HOST="{{ jobmonitor_timeseries_host }}",JOBMONITOR_TIMESERIES_PORT="{{ jobmonitor_timeseries_port }}",GLOO_SOCKET_IFNAME="{{ socket_ifname }}"

{% endfor %}
